In [2]:
import numpy as np
import pandas as pd
import time
import matplotlib.pyplot as plt
import dimod
import networkx as nx
from dwave.system import DWaveSampler, EmbeddingComposite

In [3]:
n = 5   # length of each random bit array

shots = 20
bqm_qubo = dimod.BinaryQuadraticModel.from_numpy_matrix(np.zeros((n,n)))
# sampleset = EmbeddingComposite(DWaveSampler(endpoint='https://cloud.dwavesys.com/sapi',\
#                                token='DEV-d1f6e1d1c38fbe9219ce7713e110736473b657a0', \
#                                solver={'qpu': True})).sample(bqm_qubo, num_reads = shots)
sampleset = EmbeddingComposite(DWaveSampler(solver={'qpu': True})).sample(bqm_qubo, num_reads=shots)


print(sampleset.aggregate())

    0  1  2  3  4 energy num_oc. chain_.
0   0  1  1  0  0    0.0       1     0.0
1   1  1  1  0  0    0.0       3     0.0
2   1  1  0  1  1    0.0       2     0.0
3   0  0  1  0  0    0.0       1     0.0
4   1  0  0  0  1    0.0       2     0.0
5   1  1  1  1  1    0.0       1     0.0
6   1  1  0  1  0    0.0       1     0.0
7   1  1  1  0  1    0.0       4     0.0
8   0  0  0  1  1    0.0       1     0.0
9   1  0  0  1  0    0.0       1     0.0
10  1  1  1  1  0    0.0       1     0.0
11  1  0  1  0  1    0.0       1     0.0
12  0  1  1  1  1    0.0       1     0.0
['BINARY', 13 rows, 20 samples, 5 variables]

In [4]:
result = pd.DataFrame.from_records(sampleset.aggregate().record.tolist(),
                                    columns=['Samples','Energy','Occurrences','chain'])


# result = result.sort_values(by=['Energy'],ignore_index=True)
result['Numbers'] =  [(int("".join(str(x) for x in sample), 2)) for sample in result['Samples']]
result['selected'] = [(int(sum(sample))) for sample in result['Samples']]

result

            Samples  Energy  Occurrences  chain  Numbers  selected
0   [0, 1, 1, 0, 0]     0.0            1    0.0       12         2
1   [1, 1, 1, 0, 0]     0.0            3    0.0       28         3
2   [1, 1, 0, 1, 1]     0.0            2    0.0       27         4
3   [0, 0, 1, 0, 0]     0.0            1    0.0        4         1
4   [1, 0, 0, 0, 1]     0.0            2    0.0       17         2
5   [1, 1, 1, 1, 1]     0.0            1    0.0       31         5
6   [1, 1, 0, 1, 0]     0.0            1    0.0       26         3
7   [1, 1, 1, 0, 1]     0.0            4    0.0       29         4
8   [0, 0, 0, 1, 1]     0.0            1    0.0        3         2
9   [1, 0, 0, 1, 0]     0.0            1    0.0       18         2
10  [1, 1, 1, 1, 0]     0.0            1    0.0       30         4
11  [1, 0, 1, 0, 1]     0.0            1    0.0       21         3
12  [0, 1, 1, 1, 1]     0.0            1    0.0       15         4

In [8]:
bqm_qubo

BinaryQuadraticModel({0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0}, {}, 0.0, 'BINARY')

In [7]:
bqm_qubo.to_numpy_matrix().astype(int)

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])