In [10]:
import numpy as np
import pandas as pd
import time
import matplotlib.pyplot as plt
import dimod
import networkx as nx
from dwave.system import DWaveSampler, EmbeddingComposite

In [13]:
n = 5   # length of each random bit array

shots = 20
bqm_qubo = dimod.BinaryQuadraticModel.from_numpy_matrix(np.zeros((n,n)))
# sampleset = EmbeddingComposite(DWaveSampler(endpoint='https://cloud.dwavesys.com/sapi',\
#                                token='DEV-d1f6e1d1c38fbe9219ce7713e110736473b657a0', \
#                                solver={'qpu': True})).sample(bqm_qubo, num_reads = shots)
sampleset = EmbeddingComposite(DWaveSampler(solver={'qpu': True})).sample(bqm_qubo, num_reads=shots)


print(sampleset.aggregate())

    0  1  2  3  4 energy num_oc. chain_.
0   0  0  0  1  0    0.0       2     0.0
1   0  1  1  1  1    0.0       1     0.0
2   0  1  1  1  0    0.0       2     0.0
3   1  0  0  1  1    0.0       1     0.0
4   0  0  1  1  0    0.0       1     0.0
5   1  0  1  1  1    0.0       1     0.0
6   0  1  0  1  0    0.0       2     0.0
7   0  1  1  0  1    0.0       1     0.0
8   0  0  0  0  0    0.0       1     0.0
9   1  0  0  0  1    0.0       1     0.0
10  0  0  0  1  1    0.0       1     0.0
11  0  0  1  1  1    0.0       2     0.0
12  0  0  1  0  1    0.0       1     0.0
13  1  0  1  1  0    0.0       1     0.0
14  1  1  0  1  1    0.0       1     0.0
15  0  1  0  0  1    0.0       1     0.0
['BINARY', 16 rows, 20 samples, 5 variables]

In [14]:
result = pd.DataFrame.from_records(sampleset.aggregate().record.tolist(),
                                    columns=['Samples','Energy','Occurrences','chain'])


# result = result.sort_values(by=['Energy'],ignore_index=True)
result['Numbers'] =  [(int("".join(str(x) for x in sample), 2)) for sample in result['Samples']]
result['selected'] = [(int(sum(sample))) for sample in result['Samples']]

result

            Samples  Energy  Occurrences  chain  Numbers  selected
0   [0, 0, 0, 1, 0]     0.0            2    0.0        2         1
1   [0, 1, 1, 1, 1]     0.0            1    0.0       15         4
2   [0, 1, 1, 1, 0]     0.0            2    0.0       14         3
3   [1, 0, 0, 1, 1]     0.0            1    0.0       19         3
4   [0, 0, 1, 1, 0]     0.0            1    0.0        6         2
5   [1, 0, 1, 1, 1]     0.0            1    0.0       23         4
6   [0, 1, 0, 1, 0]     0.0            2    0.0       10         2
7   [0, 1, 1, 0, 1]     0.0            1    0.0       13         3
8   [0, 0, 0, 0, 0]     0.0            1    0.0        0         0
9   [1, 0, 0, 0, 1]     0.0            1    0.0       17         2
10  [0, 0, 0, 1, 1]     0.0            1    0.0        3         2
11  [0, 0, 1, 1, 1]     0.0            2    0.0        7         3
12  [0, 0, 1, 0, 1]     0.0            1    0.0        5         2
13  [1, 0, 1, 1, 0]     0.0            1    0.0       22         3
14  [1, 1, 0, 1, 1]     0.0            1    0.0       27         4
15  [0, 1, 0, 0, 1]     0.0            1    0.0        9         2